* {
    -moz-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    text-size-adjust: 100% !important;
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
}

body,
html {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
}

.bot {
    margin-top: 0 !important;
}

.mem_top {
    height: .76rem;
}

.fixed_table {
    position: relative;
    border-bottom: 0.05rem solid #e3dddd;
}

.fixed_table:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-bottom: .01rem solid #E3DDDD;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.note .unit {
    margin-left: 0.1rem;
}

.AgentCodeFontSize {
    font-size: .26rem;
}

.mem_mid .fixed_tbody tr td {
    box-sizing: border-box;
}

.mem_mid .fixed_tbody tr td:nth-child(1) {
    width: 1.85rem;
    background-color: rgba(142, 158, 184, 1);
    text-align: left;
    text-align: -webkit-left;
    padding-left: 0.14rem;
}

.mem_mid .fixed_tbody tr td:nth-child(3) {
    background-color: rgba(142, 158, 184, 1);
    text-align: left;
    text-align: -webkit-left;
    padding-left: 0.14rem;

}

.mem_top {
    background-image: url("/weixinApp/reportPage/gx/103155_rt/images/user.png");
    background-repeat: no-repeat;
    background-size: 0.4rem 0.42rem;
    background-position: 2.2rem 0.175rem;
}

.mem_mid .fixed_tbody tr td:nth-child(1):before,
.mem_mid .fixed_tbody tr td:nth-child(3):before {
    border-top: .011rem solid #F0F0F0;
}

.mem_top .agent_name {
    font-size: 0.32rem;
    color: rgba(255, 255, 255, 1);
    margin-right: 0.08rem;
}

.mem_top .mem_top_number {
    position: relative;
    top: 0.015rem;
}

.mem_top .agent_code2 {
    position: relative;
}

.mem_top .agent_code {
    position: relative;
    top: 0.02rem;
}

.mem_top p {
    line-height: 0.76rem;
    display: inline-block;
    /*	margin-left: 0.2rem;*/
    margin-left: 2.8rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    float: left;
    position: relative;
    top: 0.02rem;
}

.mem_mid .fixed_tbody tr:nth-child(1) td:before {
    border-top: 0 !important;
}

#bbb .colspan td {
    text-align: center;
}

.note .unit {
    margin-left: 0.01rem;
    display: inherit;
    /*margin-top: -0.02rem;*/
}

.mem_mid .fixed_tbody tr td:nth-child(1):before,
.mem_mid .fixed_tbody tr td:nth-child(3):before {
    border-top: .011rem solid #F0F0F0;
}

.mem_mid .fixed_tbody tr td:nth-child(1):before,
.mem_mid .fixed_tbody tr td:nth-child(3):before {
    border-top: .011rem solid #F0F0F0;
}

.fixed_tbody tr:nth-child(even) td {
    background-color: #fff;
}

.tab_lv1.tab_lv3:after {
    /*  border: 0; */
}

.tab_lv1.tab_lv3 li.hover:after {
    width: 164%;
}

.dongzhi li {
    padding: 0.32rem 0.34rem;
    height: auto;
    line-height: 0.4rem;
    text-indent: 0;
}

.main .tab_lv1 li:nth-child(1) {
    left: -0.05rem;
}

.main .tab_lv1 li.hover:after {
    bottom: -0.05rem;
}

.main .tab_lv2 li {
    width: 0.58rem;
}

.zhihui {
    color: #BEB5C0 !important;
    text-decoration: blink !important;
}

/* .clickInfo{
    font-size: 0.28rem;  position: fixed;    right: 0;
    top: 1rem;
} */
.tab_lv2 {
    width: 6.9rem;
    height: 0.7rem;
    margin: 0.16rem auto;
/*     margin-bottom: 0.06rem; */
    background-image: url("/weixinApp/reportPage/gx/103155_rt/images/JanTab_5.png");
    background-position: center;
    background-size: 6.9rem 0.7rem;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.top .tab_box .tab_lv2 li:after {
    border: 0;
    height: 0;
    width: 0;
}

.top .tab_box .tab_lv2 li:nth-child(1) {
    width: 1.1rem;
}

.top .tab_box .tab_lv2 li:nth-child(2) {
    width: 1.1rem;
}

.top .tab_box .tab_lv2 li:nth-child(3) {
    width: 1.68rem;
}

.top .tab_box .tab_lv2 li:nth-child(4) {
    width: 1.66rem;
}
.top .tab_box .tab_lv2 li:nth-child(5) {
    width: 1.36rem;
}
.top .tab_box .tab_lv2 li:nth-child(2):before {
    border: 0;
}

.top .tab_box .tab_lv2 li:nth-child(3):before {
    border: 0;
}

.top .tab_box .tab_lv2 li:nth-child(4):before {
    border: 0;
}

.top .tab_box .tab_lv2 li:nth-child(5):before {
    border: 0;
}

.top .tab_box .tab_lv2 li:nth-child(6):before {
    border: 0;
}

.main .tab_lv2 li {
    width: 16.66%;
    padding: 0;
    float: left;
    line-height: 0.7rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-0.01rem;
}
.button_projectInstruction {
    position: absolute;
    top: 0.06rem;
    right: 0;
    width: 1.40rem;
    height: 0.52rem;
    background-image: url("../images/projectInstruction_all.png");
    background-size: 1.4rem 0.52rem;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 199;
}

.button_projectInstruction a {
    font-size: 0.24rem;
    height: 0.32rem;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    float: left;
    position: relative;
    left: 0.23rem;
    top: 0.075rem;
}

.button_projectInstruction i {
    width: 0.1rem;
    height: 0.18rem;
    display: inline-block;
    float: right;
    background-image: url("/weixinApp/reportPage/gx/103155_rt/images/Path.png");
    background-size: 0.1rem 0.18rem;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 0.1rem;
    top: 0.18rem;
}

.fixed_tbody td:last-child:after {
    width: 0;
    height: 0;
    border: 0;
}

.mem_top .mem_top_name {
    font-size: 0.32rem;
    margin-right: 0.1rem;
}

.fixed_table {
    border-bottom: 0;
}



.fixed_table:last-child {
    border-bottom: 0.04rem solid #e3dddd;
}

@media screen and (width: 360px) {

    .main.vivo-510 .tab_lv2 li p,
    .main.HUAIWEI-Mali8T624 .tab_lv2 li p {
        position: relative;
        top: 0.04rem;
    }
}

@media screen and (width: 375px) {
    .main .tab_lv2 li {
        height: 0.71rem;
    }

    .main .tab_lv2 li:after {
        top: -0.005rem;
    }

    .main.iosA11 .tab_lv2 li {
        height: 0.7rem;
    }

    .main.iosA11 .tab_lv2 li:after {
        top: 0rem;
    }

    .main .tab_lv2 li p {
        position: relative;
        top: 0.02rem;
    }
}

@media screen and (width: 414px) {
    .mem_top {
        background-position: 2.4rem 0.175rem;
    }

    .mem_top p {
        left: 0.1rem;
    }

    .mem_top .mem_top_number {
        position: relative;
        top: 0.025rem;
    }

    .button_projectInstruction i {
        position: relative;
        right: 0.11rem;
        top: 0.185rem;
    }
}

.top .tab_box .tab_lv2 li:nth-child(2) p {
    position: relative;
    left: -0.04rem;
}

.top .tab_box .tab_lv2 li:nth-child(3) p {
    position: relative;
    left: -0.01rem;
}

.top .tab_box .tab_lv2 li:nth-child(5) p {
    position: relative;
    left: 0.02rem;
}

.tab {
    box-sizing: border-box;
    display: flex;
    height: .62rem;
    padding-top: .2rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    justify-content: space-between;
}
.tab_II{
    height: 0.82rem;;
    padding-top: 0.17rem;
}

.tab.tabli {
    margin: 0;
}

.tabli,
.tabli_I {
    float: left;
    position: relative;
    width: auto;
    height: .42rem;
    text-align: center;
    line-height: .42rem;
    color: #455671;
    font-size: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tabli_II {
    position: relative;
    left: 0rem;
}

.tabli .selUpdate,
.tabli_I .selUpdate {
    float: right;
    font-size: 0.28rem;
    margin-right: 3.51rem;
    margin-right: 0;
    max-width: 1.7rem;
    height: 0.42rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.tabli .sel {
    font-size: 0.28rem;
    background: url(/weixinApp/reportPage/gx/103155_rt/images/triangle.png) center no-repeat;
    -webkit-background-size: .2rem auto;
    padding-right: 0rem;
    display: inline-block;
    width: 0.2rem;
    height: 0.12rem;
    margin-left: 0.2rem;
    margin-left: 0.2rem;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
}

.tabli:after,
.tabli:nth-child(1):after {
    content: '';
    position: absolute;
    z-index: 100;
    right: 0;
    width: .0rem;
    height: 0rem;
}

.tabli:last-child:after {
    width: 0;
    height: 0;
}

.tabli .sel {
    position: inherit;
    top: 0;
    margin-left: 0.16rem;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
}

.sel.check {
    background-image: url(/weixinApp/resources/trachinoid/images/triangleOn.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}

.overmax {
    padding-top: 3.72rem;
}

.selbox1 {
    width: 100%;
    background-color: #fff;
    max-height: 6.9rem;
    overflow: hidden;
    overflow-y: auto;
}

.tab_lv1.tab_num3 li {
    padding-left: .25rem;
    padding-right: .25rem;
}

.note_right {
    float: right;
    color: rgba(80, 138, 232, 1);
    font-size: 0.28rem;
    margin-right: 0.15rem;
}

.note_right a {
    text-decoration: underline;
}

.bot {
    font-size: 0.28rem;
    margin-top: 0 !important;
}

.no_data {
    width: 7.5rem;
    height: 1.15rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.26rem;
    font-family: PingFangSC-Regular, 'Microsoft YaHei';
    color: rgba(194, 198, 204, 1);
}

.no_data i {
    display: inline-block;
    width: 0.56rem;
    height: 0.38rem;
    background-image: url(../images/icon_logo.png);
    background-size: 0.56rem 0.38rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0.12rem;
}

/* tab */
.main .tab_lv1.tab_2nd li {
    left: 0;
}

.tab_lv1.tab_num3,.main .tab_lv1.tab_2nd{
    justify-content: space-evenly;
}
.main .tab_lv1.tab_2nd{
    padding: 0 0.34rem;
}
.main .tab_lv1.tab_num3 li {
    padding-left: .29rem;
    padding-right: .29rem;
    left: 0;
}

.main .fixed_tbody tr:nth-child(odd) td {
    background-color: #f6f7f8;
}

.main .fixed_tbody tr:nth-child(even) td {
    background-color: #ffffff;
}

.fixed_tbody tr:nth-child(even) td {
    background-color: #f6f7f8;
}

.fixed_tbody tr:nth-child(odd) td {
    background-color: #ffffff;
}

.line_noheji {
    height: 0;
    border-bottom: 0.04rem solid #e3dddd;
}

.tab_lv1.add_tab_lv1 li {
    padding-left: .35rem;
    padding-right: .35rem;
    font-size: .28rem;
}
.tag_ask{
    background: url("../images/tag_ask.png") 0 .04rem no-repeat;
    background-position: center;
    -webkit-background-size: .31rem auto;
    background-size: .31rem auto;
}

.tab_lv1.add_tab_lv1 li.hover:after {
    display: none;
}

.tab_lv1.add_tab_lv1:after {
    border-color: #dadee9;
}

/* .button_projectInstruction{ top: .4rem;} */
.main .add_tab_lv1.tab_lv3:before {
    content: '';
    position: absolute;
    top: .19rem;
    right: 50%;
    width: 0px;
    height: .28rem;
    border-left: .04rem solid #B1B5C0;
    transform: scaleX(0.85);
}

.main .add_tab_lv1.tab_lv3 li {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mem_mid .fixed_tbody tr td:nth-child(1),
.mem_mid .fixed_tbody tr td:nth-child(3) {
    padding-left: 0;
    text-align: center;
    font-family: PingFang-SC-Medium, 'Microsoft YaHei';
}

.tag_tbhead {
    position: relative;
}

.tag_tbhead:after {
    content: '';
    float: left;
    left: .3rem;
    top: .19rem;
    width: .06rem;
    height: .3rem;
    margin-left: .3rem;
    margin-right: .12rem;
    margin-top: .03rem;
    border-radius: .03rem;
    background: #fe3030;
}

.mem_mid .fixed_tbody tr.split_space td {
    height: .16rem;
    background: #f0f0f0;
}

/*   **************  */
.mem_mid td {
    height: .6rem;
}

.mem_mid .fixed_tbody tr:nth-child(1) td {
    height: .66rem;
    font-family: PingFang-SC-Bold, PingFang-SC-Medium, 'Microsoft YaHei';
}

.main .tab_lv1 li {
    position: relative;
    top: -0.02rem;
    padding-top: .15rem;
    padding-bottom: .08rem;
}

.main .tab_lv2 li p {
    position: relative;
    top: 0.02rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 0.7rem;
}

.main .tab_lv1.add_tab_lv1 li {
    top: -0.02rem;
}

.button_projectInstruction a {
    font-size: 0.24rem;
    height: 0.32rem;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    float: left;
    position: relative;
    left: 0.18rem;
    top: .1rem;
}

.button_projectInstruction a:after {
    content: '';
    display: inline-block;
    position: relative;
    top: .02rem;
    width: .1rem;
    height: .18rem;
    margin-top: .02rem;
    margin-left: .07rem;
    background: url("/weixinApp/reportPage/gx/103155_rt/images/Path.png") right center no-repeat;
    background-size: 0.1rem 0.18rem
}

.note_right {
    float: left;
    margin-top: .3rem;
}

.line_col {
    position: relative;
}

.line_col:before {
    content: '';
    position: absolute;
    left: -.26rem;
    bottom: .04rem;
    width: .02rem;
    height: .26rem;
    border-right: .02rem solid #e3dddd;
    /* transform: scaleX(0.5); */
}
.main .tab_box .tab_lv1:nth-child(1) li:nth-child(2) {
    /**left: 0.55rem;*/
}
.nav li {
 	text-decoration: underline;
}
.nav li:last-child {
    text-decoration: inherit;
}

@media screen and (width: 320px) {
    .main .tab_lv1 li {
        padding-top: .12rem;
        padding-bottom: .11rem;
    }

    .main .tab_lv1.add_tab_lv1 li {
        top: -0.01rem;
    }

    .main .tab_lv2 li p {
        position: relative;
        top: 0.01rem;
    }

    .button_projectInstruction a {
        top: .08rem
    }

    .button_projectInstruction a:after {
        top: 0;
    }

    .main .add_tab_lv1.tab_lv3:before {
        transform: scaleX(0.5);
    }

    .tag_tbhead:after {
        margin-top: .06rem;
    }

    .line_col:before {
        bottom: .06rem;
    }
}

@media screen and (width: 375px) {
    .main .tab_lv1 li {
        padding-top: .12rem;
        padding-bottom: .11rem;
    }

    .main .tab_lv1.add_tab_lv1 li {
        top: -0.01rem;
    }

    .main .tab_lv2 li p {
        position: relative;
        top: 0.025rem;
    }

    .button_projectInstruction a {
        top: .08rem
    }

    .button_projectInstruction a:after {
        top: 0;
    }

    .main .add_tab_lv1.tab_lv3:before {
        transform: scaleX(0.5);
    }

    .tag_tbhead:after {
        margin-top: .06rem;
    }

    .line_col:before {
        bottom: .06rem;
    }
}

@media screen and (width: 414px) {
    .main .tab_lv1 li {
        padding-top: .11rem;
        padding-bottom: .12rem;
    }

    .main .tab_lv1.add_tab_lv1 li {
        top: 0.01rem;
    }

    .main .tab_lv1.add_tab_lv1.tab_lv3 li {
        top: 0.01rem;
    }

    .main .tab_lv2 li p {
        position: relative;
        top: 0.02rem;
    }

    .button_projectInstruction a {
        top: .09rem
    }

    .button_projectInstruction a:after {
        top: 0;
    }

    .main .add_tab_lv1.tab_lv3:before {
        transform: scaleX(0.5);
    }

    .tag_tbhead:after {
        margin-top: .04rem;
    }

    .line_col:before {
        bottom: .06rem;
    }
}

@media screen and (width: 360px) {

    .main .tab_lv1.tab_2nd li {
        position: relative;
        top:0.03rem;
    }
    
    .main .tab_lv1.tab_lv3 li {
        top: 0.02rem;;
    }
    .button_projectInstruction a:after {
        top:0.01rem;
    }
}