.fixed_thead td {
    position: relative;
}
.tag_ask {
    background: url("../images/tag_ask.png") 0 .04rem no-repeat;
    height: 0.78rem;
    background-position: center;
    -webkit-background-size: .31rem auto;
    background-size: .31rem auto;
    right: inherit;
}
.line2 .tag_ask {
 }
.al_tip {
    /* position: inherit; */
    top: inherit;
    z-index: 999;
}
.word {
    position: absolute;
    top: 0;
    margin-left:7px;
}
.line2word{
	right: 0;
}
.line2 .tag_ask.hover:after {
    bottom: -0.11rem;
}
