@CHARSET "UTF-8";

 .no_data {
		    width: 7.5rem;
		    height: 1.15rem;
		    background: #ffffff;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    font-size: 0.26rem;
		    font-family: PingFangSC-Regular, 'Microsoft YaHei';
		    color: rgba(194, 198, 204, 1);
		}
		
		.no_data i {
		    display: inline-block;
		    width: 0.56rem;
		    height: 0.38rem;
		    background-image: url(../images/icon_logo.png);
		    background-size: 0.56rem 0.38rem;
		    background-position: center;
		    background-repeat: no-repeat;
		    margin-right: 0.12rem;
		}