/*
* @Author: rtdl.zangyl
* @Date:   2019-02-21 15:17:04
* @Last Modified by:   rtdl.zangyl
* @Last Modified time: 2019-02-21 15:18:51
*/
/* ����ָ������������� */
.nav_box {
    display: flex;
}
.nav_box .nav{
    width: 100%;
}
.nav p {
    font-size: 0.28rem;
    color: rgb(69, 86, 113);
    float: left;
    font-family: PingFang-SC-Medium, "Microsoft YaHei";
    font-weight: bold;
    max-width: 100%;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    overflow: hidden;
}
.nav p span:before  {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    vertical-align:-0.1rem;
    width: .26rem;
    height:.4rem;
    background: url("/weixinApp/reportPage/base/images/tag_gt.png") center center no-repeat;
    -webkit-background-size: .15rem .26rem;
    background-size: .15rem .26rem;
}
.nav p span:nth-child(1):before{width: .23rem; background-image: url();}
.nav p span:last-child {text-decoration: underline;}
.nav p span{
 	text-decoration: underline;
}
.nav p span:last-child {
    text-decoration: inherit;
}

/* ������һ�� */
.return_box{
    font-family:PingFangSC-Regular,Helvetica,'Microsoft YaHei', Arial,'STHeitiSC', sans-serif;
    color: rgba(177, 181, 192, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.28rem;
    margin-left: 0.15rem;
}
.return_box i{
    display: inline-block;
    width: 0.29rem;
    height: 0.21rem;
    background: url("../images/husy_return.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0.08rem;
}
.last_go{
    color: rgba(103, 131, 172, 1)
}
.last_go i{
    background: url("../images/return.png")  center center / 100% 100% no-repeat;
    
}
/* һ�����������ߴ��� */
.tab.tab_II {
    border-bottom: 0.01rem solid rgba(219,223,234,1);
}
/* һ��������ȥ���������� */
.overcover::before {
    width: 0%;
    height: 0;
}
